<div class="link-tab uk-margin-left uk-padding-small uk-margin-right">
  <h4>
    <a href="/admin-database" class="uk-padding-small">Alumni</a>&nbsp;&nbsp;&nbsp;
    <a href="/admin-group" class="uk-padding-small">Groups</a>&nbsp;&nbsp;&nbsp;
    <a href="/admin-event" class="uk-padding-small">Events</a>&nbsp;&nbsp;&nbsp;
    <a href="/admin-news" class="uk-padding-small">News</a>&nbsp;&nbsp;&nbsp;
    <a href="/admin-security" class="uk-padding-small">Security</a>&nbsp;&nbsp;&nbsp;
    <a href="/admin-settings" class="uk-padding-small">Settings</a>
  </h4>
  <hr class="border-slate"></hr>
</div>