<div class="black uk-padding uk-clearfix">

  <div class="uk-grid-small uk-child-width-1-2" uk-grid>
  <div>
    <h5 id="alumni_name" class="norwester uk-text-left font-white uk-hidden@m">Fern Creek Alumni Association</h5>
    <h4 id="alumni_name" class="norwester uk-text-left tight font-white uk-visible@m">Fern Creek Alumni Association</h4>
  </div>
  <div><a class="gold font-white icon-padding border-charcoal uk-float-right" href="#Calendar" uk-scroll><span uk-icon="icon: arrow-up; ratio:2"></span></a></div>
  </div>
  <div class="uk-margin-large"></div>
  <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
      <div class="uk-width-1-4 uk-text-center">
      <a href="/contact-us">Contact Us</a>
      </div>

      <div class="uk-width-1-4 uk-text-center">
      <a href="https://www.alumnimanagementtools.com/privacy-terms-and-conditions">Privacy Policy</a>
      </div>

      <div class="uk-width-1-4 uk-text-center">
      <a href="https://www.alumnimanagementtools.com/privacy-terms-and-conditions">Terms of Use</a>
      </div>

      <div class="uk-width-1-4 uk-text-center">
      <a href="https://www.alumnimanagementtools.com">&copy; Plugins</a>
      </div>
  </div>
  </div>