<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <%- include('header'); %>
</head>
<body>

  <!-- Forgot Password -->
  <div class="uk-padding uk-position-relative uk-position-small uk-position-top-center uk-text-center">
    <h3 id="alumni_name" class="norwester">Fern Creek <br> Alumni Association</h3>
  </div>

  <div class="uk-flex uk-flex-center">
    <div class="uk-width-1-4"></div>
      <div class="uk-width-1-1 uk-width-1-2@m">
        <div class="uk-container uk-container-expand uk-position-relative uk-padding white border-slate">
          <h2 class="uk-text-center">Forgot Password </h2>
          <hr class="uk-divider-icon">
          <div>
            <h5>Provide us the email tied to your account, and we'll send you an email with a link to reset your password.</h5>
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input id="email" class="uk-input border-charcoal2" placeholder="Email Address" type="text">
              </div>
              <div class="uk-margin">
              </div>
            <a class="uk-button button-dk uk-margin-small-bottom" onclick="forgotPassword()">Send Link</a>
          </div>
        </div>
      </div>
    <div class="uk-width-1-4"></div>
  </div>

  <div class="uk-padding uk-position-relative uk-position-bottom-center uk-text-center">
    <a href="/sign-in"><span uk-icon="icon: arrow-left; ratio: 2"></span> &nbsp;Return to Sign In Page</a>
  </div>

  <div class="uk-margin-large"></div>
  <%- include('footer'); %>
  <script type="text/javascript">
    function forgotPassword() {
      if (!$('#email').val()) {
        alert('Please enter the email address you used to sign up.');
      } else {
        axios.post('/api/forgot-password-flow', {
          email: $('#email').val()
        })
        .then(function(data) {
          alert('An email with a password reset link has been send to the specified email account.');
        })
        .catch(function(err) {
          alert('There was an error initiating the forgot password flow. Please try again or contact an administrator.');
        });
      }
    }
  </script>
</body>
</html>
