<!DOCTYPE html>
<html>
<head>
  <title>Alumni Association Web App</title>
  <%- include('header'); %>
  <!-- Facebook SDK -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '408871246386479',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.3'
      });
    };
  </script>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>    

  <!-- Sign Up -->
  <div class="uk-padding uk-position-relative uk-position-small uk-position-top-center uk-text-center">
  <h1 id="alumni_name" class="tight">Fern Creek</h1>
  <h3 class="norwester tight">Alumni Association</h3>
  </div>

  <div class="uk-container uk-container-expand uk-margin-large-left uk-margin-large-right uk-position-relative uk-padding-large white border-charcoal">

    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
      <!-- Facebook Option -->
      <div>
        <h4>Log in via Facebook <i class="font-hint">(Recommended)</i></h4>
        <button class="uk-button facebook" onclick="facebookLogin()"><span uk-icon="facebook"></span> Connect with Facebook</button>
        <h5>Benefits:<br>- Faster Login<br>- No extra passwords to remember<br>- View which of your friends are members<br></h5>
      </div>
        <!-- Create new Account Option-->
      <div>
        <h4 class="tight">Create an Account</h4><br>
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: mail"></span>
              <input id="email-input" class="uk-input border-charcoal2" placeholder="Email Address" type="text">
            </div>
          <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input id="password-input" class="uk-input border-charcoal2" placeholder="Password" type="password">
            </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input id="confirm-password" class="uk-input border-charcoal2" placeholder="Confirm Password" type="password">
          </div>
        </div>
        <h6>By creating an account, you agree to our <a>Terms of Service</a> and <a>Privacy Policy</a></h6>
        <button class="uk-button button-dk" onclick="validateAndCreateAccount()">Create Account</button>
      </div>
    </div>
  </div>

  <div class="uk-padding uk-position-relative uk-position-bottom-center uk-text-center">
    <h4>Already a member? &nbsp;<button class="uk-button button-lt uk-button-small"><a href="/Sign_In">Sign In</a></button></h4>
  </div>

  <script type="text/javascript">
    function createAccount() {
      $.ajax({
        url: '/api/create-account',
        type: 'POST',
        data: {
          email: $('#email-input').val(),
          password: $('#password-input').val()
        },
        success: function(data) {
          if (data.redirect) {
            window.location.pathname = data.redirect;
          } else {
            window.location.pathname = '/profile_info';
          }
        },
        error: function(err) {
          alert(err);
        }
      });
    }

    function validateAndCreateAccount() {
      if (!$('#email-input').val()) {
        alert('email field is blank');
      } else if (!$('#password-input').val()) {
        alert('password field is blank');
      } else if ($('#confirm-password').val() !== $('#password-input').val()) {
        alert('passwords do not match');
      } else {
        createAccount();
      }
    }

    function facebookLogin() {
      FB.login(function(response) {
        if (response.authResponse) {
          $.ajax({
            url: '/api/login-with-facebook',
            type: 'POST',
            data: response.authResponse,
            success: function(data) {
              if (data.redirect) {
                window.location.pathname = data.redirect;
              } else {
                window.location.pathname = '/profile';
              }
            },
            error: function(err) {
              alert(err);
            }
          })
        } else {
         console.log('User cancelled login or did not fully authorize.');
        }
      }, {
        scope: 'email,user_birthday'
      });
    }
  </script>
</body>
</html>
