<!DOCTYPE html>
<html>
<head>
  <title>Membership Types</title>
  <%- include('header'); %>
  <!-- PayPal SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>&disable-funding=credit,card"></script>
</head>
<body>
  <div id="app">
    <div class="uk-position-small uk-position-top-left">
      <a href="/membership-options"> <span uk-icon="arrow-left"></span>Back to Membership Options</a>
    </div><br>

    <!-- Membership Options -->
    <div class="uk-padding uk-position-relative uk-position-small uk-position-top-center uk-text-center">
      <h3 id="alumni_name" class="norwester">Fern Creek <br> Alumni Association</h3>
    </div>
    <hr class="uk-divider-icon">
    <h2 class="uk-text-center tight">Membership Types</h2>
    <h5 class="uk-text-center tight">Select a membership type to purchase one.</h5>
    <div class="uk-padding-large">
      <div class="uk-child-width-1-3@m" uk-grid>
        <div v-for="membershipType in membershipTypes">
          <div class="uk-card-small uk-card-default">
            <div class="uk-card-header"><h2 class="uk-card-title uk-text-center">{{ membershipType.name }}</h2></div>
            <div class="uk-card-body" style="white-space: pre-line">
              {{ membershipType.description }}
            </div>
            <button class="uk-button paypal uk-width-1-1" v-on:click="placeOrder"><strong><i>P</i></strong> &nbsp; Paypal</button>
          </div>
        </div>
        <a class="uk-margin-large uk-button button-lt uk-float-right" href="/profile">Skip for Now</a>
      </div>
    </div>
  </div>
  
  <%- include('footer') %>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        membershipTypes: <%- JSON.stringify(membershipTypes) %>
      },
      methods: {
        placeOrder: function(membershipType) {
          axios.post('/api/order-membership', {
            membershipTypeId: membershipType.id
          }).then(function(data) {

          }).catch(function(err) {
            alert('There was an issue placing your order. Please try again');
          });
        }
      }
    });
    // todo: this is currently a one-time payment, recurring payment will have to be set up on the backend
  </script>
</body>
</html>
