<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%- include('header'); %>
</head>
<body>

<%- include('top-navigation'); %>
<!--------------------------->
<!-- Profile Info Section -->
<!--------------------------->
<div id="app">
<div class="uk-container"></div>
<form class="uk-card uk-card-default uk-margin uk-margin-right uk-margin-left" method='POST' action='/api/update-profile-data' enctype="multipart/form-data">
    <div class="uk-card-header container-top">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
        <h4 class="norwester font-white">Profile Information</h4>
        </div>
    </div>
    <div class="uk-card-body white">
      <div class="uk-grid-match uk-child-width-1-3@m uk-flex-top" uk-grid>
          <div>
            <div class="uk-width-auto">
              <img src="<%= user.profilePhotoRef ? '/api/photo/' + user.profilePhotoRef : '/profile_photo_placeholder.svg' %>" width="200" height="200" alt="Profile Photo">
              <div>
                  <div class="uk-margin uk-margin-left">
                      <div uk-form-custom>
                          <input 
                            id="profile_photo_upload"
                            name="profile_photo_upload"
                            type="file"
                            accept="image/*" 
                          >
                          <button class="uk-button button-lt" type="button" tabindex="-1"><span uk-icon="file-edit"></span> &nbsp;Edit</button>
                      </div>
                  </div>
              </div>
          </div>
        <!-- Far Left Section -->
              <label class="profile-label">Name</label>
              <input id="name" name="name" class="uk-input border-charcoal2 uk-margin-bottom" type="text" v-model="user.name">
              <label class="profile-label">Grad Year &nbsp;<span uk-icon="info" uk-tooltip="Only an administrator can edit your graduation year. If yours is incorrect, please contact an Alumni Association official to have it corrected."></span></label><br>
              <input id="grad_year" name="graduation_year" class="uk-input uk-form-width-small border-charcoal2" type="text" v-model="user.graduation_year" disabled>
        </div>

        <!-- Far Left Section -->
          <div>
            <label class="profile-label">Nicknames</label>
            <input id="nicknames" name="nicknames" class="uk-input border-charcoal2 uk-margin-bottom" type="text" v-model="user.nicknames">
            <span class="profile-label">Email</span>
            <input id="email" name="email" class="uk-input border-charcoal2 uk-margin-bottom" type="text" v-model="user.email">
            <span class="profile-label">Home Phone</span>
            <input id="home_phone" name="home_phone" class="uk-input border-charcoal2 uk-margin-bottom" type="text" v-model="user.home_phone">
            <span class="profile-label">Cell Phone</span>
            <input id="cell_phone" name="cell_phone" class="uk-input border-charcoal2 uk-margin-bottom" type="text" v-model="user.cell_phone">
            <span class="profile-label">Birthday</span>
            <input id="dob" name="birthday" class="uk-input uk-width-small border-charcoal2 uk-margin-bottom" type="text" placeholder="mm-dd-yyyy" v-model="user.birthday">
          </div>

          <div>
            <span class="profile-label">Marital Status</span>
            <select id="marital_status" name="marital_status" class="uk-select border-charcoal2 uk-margin-bottom" v-model="user.marital_status">
              <option></option>
              <option>Single</option>
              <option>Married</option>
              <option>Divorced</option>
              <option>Widowed</option>
            </select>

            <span class="profile-label">Address</span>
            <span>
            <input id="address_line1" name="address_line_1" class="uk-input border-charcoal2 uk-margin-bottom" type="text" v-model="user.address_line_1"><br>
            <input id="address_line2" name="address_line_2" class="uk-input border-charcoal2 uk-margin-bottom" type="text" v-model="user.address_line_2"><br>
            <input id="city" name="city" class="uk-input uk-width-1-3 border-charcoal2 uk-margin-bottom" type="text" v-model="user.city">, <select id="state" name="state" class="uk-select uk-width-1-4 border-charcoal2 uk-margin-bottom" v-model="user.state">
                <option value=""></option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
              </select>
            <input id="zip" name="zip_code" class="uk-input uk-width-1-4 border-charcoal2 uk-margin-bottom" type="text" v-model="user.zip_code">
          </span>
                  <span class="profile-label uk-margin">Privacy &nbsp;<span uk-icon="info" uk-tooltip="All alumni can view your yearbook photo, name and graduation year.  If you set your profile as public,  paid members can also view your phone number, address, email, birthday, and marital status.  To hide this information set your profile as private."></span></span>
                  <span id="public_toggle">
                    <style type="text/css">
                      .switch {
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                      }

                      .switch input { 
                        opacity: 0;
                        width: 0;
                        height: 0;
                      }

                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s;
                      }

                      .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                      }

                      input:checked + .slider {
                        background-color: #2196F3;
                      }

                      input:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                      }

                      input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                      }

                      /* Rounded sliders */
                      .slider.round {
                        border-radius: 34px;
                      }

                      .slider.round:before {
                        border-radius: 50%;
                      }
                    </style>
                    <label class="switch">
                      <input id="profile-visibility-toggle" type="checkbox" v-model="user.isPublic">
                      <span class="slider round"></span>
                    </label>
                    <span>&nbsp;Make profile public</span>
                  </span>
          </div>
      </div>
      <div class="uk-position-relative uk-margin uk-margin-right uk-float-left"><button class="uk-button button-dk" type="button" v-on:click="saveProfile">Save</button></div>
      <div class="uk-position-relative uk-margin uk-float-left"><button type="button" class="uk-button button-lt"><a href="/profile">Cancel</a></button></div>
</div>
</form>
</div>
<div class="uk-margin-large"></div>

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      user: <%- JSON.stringify(user) %>
    },
    methods: {
      saveProfile: function() {
        var userPayload = Object.assign({}, this.user);
        var formData = new FormData();

        var fileUpload = $('#profile_photo_upload')[0].files[0];
        if (fileUpload) {
          if (fileUpload.size/1024/1024 > 1) {
            alert('Please keep image uploads below 1 MB. You can compress your image using www.wecompress.com if you would like to use the current selected photo.');
            return;
          }
          formData.append('profile_photo_upload', fileUpload);
        }
        
        formData.append('user', JSON.stringify(userPayload));        

        axios.post('/api/update-profile-data', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
          .then(function(data) {
            if (data.redirect) {
              window.location.pathname = data.redirect;
            } else {
              window.location.pathname = '/profile';
            }
          })
          .catch(function(err) {
            alert(err);
          });
      }
    }
  });
</script>

</body>
</html>
