<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <%- include('header'); %>
<body>

  <!-- Forgot Password -->
  <div class="uk-padding uk-position-relative uk-position-small uk-position-top-center uk-text-center">
    <h3 id="alumni_name" class="norwester">Fern Creek <br> Alumni Association</h3>
  </div>

  <div class="uk-flex uk-flex-center">
    <div class="uk-width-1-4"></div>
    <div class="uk-width-1-1 uk-width-1-2@m">
      <div class="uk-container uk-container-expand uk-position-relative uk-padding white border-slate">
        <h2 class="uk-text-center">Reset Password </h2>
        <hr class="uk-divider-icon">
        <div>
          <h5>Enter a new password below:</h5>
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input id="new-password" class="uk-input border-charcoal2" placeholder="New Password" type="password">
          </div>
          <div class="uk-inline uk-width-1-1 uk-margin-top">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input id="confirm-new-password" class="uk-input border-charcoal2" placeholder="Confirm New Password" type="password">
          </div>
          <div class="uk-margin"></div>
          <button class="uk-button button-dk uk-margin-small-bottom" type="button" onclick="resetPassword()"><a>Save</a></button>
        </div>
      </div>
    </div>
    <div class="uk-width-1-4"></div>
  </div>

  <div class="uk-padding uk-position-relative uk-position-bottom-center uk-text-center">
    <a href="/sign-in"><span uk-icon="icon: arrow-left; ratio: 2"></span> &nbsp;Sign In Page</a>
  </div>

  <div class="uk-margin-large"></div>
  <%- include('footer'); %>
  <script type="text/javascript">
    function resetPassword() {
      var errMsg = '';
      if ($('#new-password').val() !== $('#confirm-new-password').val()) errMsg += 'Passwords do not match';
      if (errMsg) alert(errMsg);
      else {
        var payload = {
          password: $('#new-password').val()
        };
        var queryParams = new URLSearchParams(window.location.search);
        if (queryParams.get('userid')) {
          payload.userid = queryParams.get('userid');
        }
        if (queryParams.get('token')) {
          payload.token = queryParams.get('token');
        }

        axios.post('/api/reset-password', payload)
          .then(function(data) {
            window.location.href = data.redirect ? data.redirect : '/sign-in';
          })
          .catch(function(err) {
            alert('There was an error processing your request. Please try again');
          });
      }
    }
  </script>
</body>
</html>
